rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 모든 사용자에게 읽기 권한 부여
    match /clubs/{clubId} {
      allow read: if true;
      allow write: if true;
    }
  }
} 